.content {
    width: 1000px;
    margin: 0 auto ;
}

.texthome {
    width: 600px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    margin: 100px auto;
}

.formhome {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.input {
    width: 500px;
}


.error {
    font-size: 12px;
    font-style: italic;
    margin-top: -2px;

}

.tittle-list{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.tittle-list h2 {
    padding-right: 300px;
}

.tittle-list p {
    font-size: 13px;
}

/* .table {
    display: flex;
    flex-direction: row;
    align-items: baseline;
} */

thead {
    background-color: white;
    color: black;
    border: white;
    height: 40px;
}

