footer {
    background-color: black;
    max-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}
.footer-content {
    display:flex;
    align-items:flex-end;
    gap: 10px;

}

footer section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    /* Agrega un poco de espacio vertical para mejor visualización */

}

.footer-content .boton-diana {
    width: 26px;
    height: 26px;
    background-size: contain;
}


.content-boton {
    display: flex;
    align-items: center;
}

footer img {
    max-width: 100%;
    /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto;
    /* Mantiene la relación de aspecto */
    padding: 5px;
}


footer h1 {
    font-size: 7px;

    font-weight: bold;

    margin-top: 5px;

    padding: 0 10px;

    text-align: right;
    /* Alinea el texto a la derecha */

}

.la_reina {
    /* background-color: transparent; */


    margin-top: 1549px;
    /* Aplica un margen solo a la parte superior */
    margin-right: 877px;
    /* Aplica un margen solo a la derecha */
    margin-bottom: 54px;
    /* Aplica un margen solo a la parte inferior */
    margin-left: 146px;
    /* Aplica un margen solo a la izquierda */

}

@media (max-width: 430px) {
    footer {
        flex-direction: column;
        /* Cambia la dirección de flexión para apilar los elementos verticalmente */
        padding: 10px 0;
        /* Ajusta el padding para mejorar la apariencia en pantallas pequeñas */
    }

    footer img {
        width: 100%;
        /* Hace que la imagen ocupe todo el ancho disponible */
        padding: 0;
        /* Reduce o elimina el padding de la imagen */
    }

    footer h1 {
        font-size: 7px;
        /* Reduce el tamaño de la fuente para pantallas pequeñas */
        margin: 5px;
        /* Reduce el margen para ajustar el espaciado */
        margin-top: 5px;
    }

    /* Ajusta otros elementos si es necesario */
}

@media (min-width: 430px) {
    footer {
        flex-direction: row;
        /* Vuelve a la dirección de flexión original para un diseño horizontal */
        padding: 10px 0;
        /* Ajusta el padding para el diseño de escritorio */
    }

    footer img {
        width: auto;
        /* Permite que la imagen mantenga su tamaño original */
        padding: 10px;
        /* Añade padding a la imagen si es necesario */
    }

    footer h1 {
        font-size: 7px;
        /* Aumenta el tamaño de la fuente para pantallas más grandes */
        margin: 10px;
        /* Ajusta el margen para pantallas más grandes */
    }

    /* Ajusta otros elementos si es necesario */
}