footer {
    max-height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    position: sticky;
    top: 100vh;

    left: 0;
    right: 0;

}

.footer-content {
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    position: absolute;




    width: 100%;
    gap: 10px;
}

.content-boton {
    max-height: 40px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;

}

.content-copy h1 {
    max-height: 40px;
    float: right;
    position: absolute;
    margin-left: 10px;
    padding-top: 50px;
    margin-top: auto;
    right: 0;


}

.footer-content img {
    display: flex;
    justify-content: flex-end;
    position: left;
    height: 80px;
    width: auto;
    /* Asegura que las imágenes no excedan el ancho del contenedor */

    /* Mantiene la relación de aspecto */
    padding: 0px;
    padding-right: 0;
    margin-top: 10px;
    margin-right: 0;

}

button.boton-diana {
    max-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 30px;
    height: 30px;
    margin-right: 0;
    margin-top: 0;
    float: right;

}

footer h1 {
    max-height: 40px;

    display: flex;
    justify-content: flex-start;
    /* Alinea el texto a la derecha */
    align-items: flex-start;
    /* Alinea el h1 hacia la parte inferior */

    text-align: right;
    /* Alinea el texto a la derecha */
    font-size: 15px;
    font-weight: bold;


    padding: 0;


}

.la_reina {
    /* background-color: transparent; */
    display: flex;
    justify-content: flex-end;

    margin-top: 1549px;
    /* Aplica un margen solo a la parte superior */
    margin-right: 877px;
    /* Aplica un margen solo a la derecha */
    margin-bottom: 54px;
    /* Aplica un margen solo a la parte inferior */
    margin-left: 146px;
    /* Aplica un margen solo a la izquierda */

}

