body {
    background-color: black;
    color: white;
}

.logonavbar {
    width: 194px;
    margin-top: -5px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 1148px;
    margin-left: 146px;
    margin-right: 146px;
    margin-top: 40px;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 39px;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 39px;
    align-self: first baseline;

}

.options img {
    align-self: first baseline;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logout {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: goldenrod;
    /* Cambia a color dorado al pasar el ratón */
}

.link.active {
    text-decoration: underline;
    /* Añade subrayado al enlace activo */
}
