body {
    background-color: black;
    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 23px;
}

.logo{
    padding-bottom: 57px;
} 

.logoandbuttons{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 270px;  
}

.infoaccess{
    width: 619px;
}

.intro {
    color: #fff
}

.buttonbox {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 25px;
    margin-bottom: 98px;
}
.button-wel {
    min-width: 297px;
    height: 44px;
    font-weight: bold;
    margin-top: 35px;
}
.xoxo {
    display: block;
    margin: auto;
}