body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roulette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wheel img {
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
}

.cont-roulette{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
 
  
}

.Inst{
  position: fixed;
  margin-top: 80px;

}

#but-rou{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.text-roulette{
  font-family: 'Montserrat', sans-serif;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

.wheel {
  position: relative;
}

.spinning .wheel {
  animation: spin 5s cubic-bezier(0.3, 1, 0.7, 1);
}

.stopped .wheel {
  animation: none !important;
}

.resultado {
  position: absolute;
  text-align: center;
  color: white;
}

.button-container {
  transition: transform 2.2s ease;
  transform: rotate(0deg);
}

.sorteo-container.spinning .button-container {
  transform: rotate(360deg);
}


@media screen and (max-width: 430px) {

  .cont-roulette {


      display: flex;
      flex-direction: column;

  }

  #but-rou{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    position: static; 
    z-index: auto;
    
  }

  .Inst{
    margin-left: 400px;
  }

  .wheel img{
    margin-top: 20px;
  }



}
